:root{
  --color-1: rgb(153, 153, 153);
  --color-2: tomato;
}

.contain {
  min-height: 100vh;
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-1);
  
}
form{
  min-width: 40%;
  background-color: white;
  overflow: hidden;
  border-radius: 2%;
  
}
.form{
  /* padding:20px; */
  border: 1px solid;
  border-color: -var(--color-1);
  border-radius: 2%;
}
h3{
  text-align: center;
}
label{
  font-size: medium;
}
.forgot-password{
  font-size: smaller;
  text-decoration: none;
}
.signup-button{
  float: right;
}
.btn-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.not-found{
  text-align: center;
  font-size: small;
  font-weight: bold;
  color: var(--color-2);
}