.manage-course-description-body {
  position: relative;
  overflow-x: scroll;
}


.fw-500 {
  font-weight: 500;
}

.layer {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.186);
  z-index: 2;
  display: grid;
  place-items: center;
}

.course-image {
  display: block;
  height: 20rem;
  width: 30rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}