:root {
  --primary-color: purple;
}

* {
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
}

.form-control:focus {
  box-shadow: 0 0 1px 0.1px purple;
  border: 1px solid;
  border-color: var(--primary-color);
}

.form-select {
  border-radius: 0;
  border: 1px solid black;
}

.form-select:focus {
  box-shadow: 0 0 1px 0.1px purple;
  border: 1px solid;
  border-color: var(--primary-color);
}

.form-select-bg {
  background-color: red;
}

option {
  background: white !important;
  color: black !important
}

label {
  color: black !important;
  font-size: medium;
}

a {
  text-decoration: none;
}

button {
  border-radius: 0% !important;
}

.black {
  color: black;
}