* {
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
}

.form-select {
  border-radius: 0;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

button {
  border-radius: 0% !important;
}