* {
  box-sizing: border-box;
}

.App {
  background-color: rgb(255, 255, 255);
}

.form-control {
  border-radius: 0;
  border: 1px solid black;
  /* border-bottom: 1px solid black; */
}

.form-select {
  border-radius: 0;
  border: 1px solid black;
}

label {
  color: black !important;
  font-size: medium;
}

a {
  text-decoration: none;
}

button {
  border-radius: 0% !important;
}

.black {
  color: black;
}